[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "bbknnR"]
	path = bbknnR
	url = https://github.com/ycli1995/bbknnr
[submodule "easy.utils"]
	path = easy.utils
	url = https://github.com/ycli1995/easy.utils
[submodule "hdf5r.Extra"]
	path = hdf5r.Extra
	url = https://github.com/ycli1995/hdf5r.extra
